[Desktop Entry]
Encoding=UTF-8
Name=Link to Categories applications education science icon
Type=Link
URL=http://www.iconarchive.com/show/oxygen-icons-by-oxygen-icons.org/Categories-applications-education-science-icon.html
Icon=text-html
