[Desktop Entry]
Encoding=UTF-8
Name=Link to Categories applications development web icon
Type=Link
URL=http://www.iconarchive.com/show/oxygen-icons-by-oxygen-icons.org/Categories-applications-development-web-icon.html
Icon=text-html
