[Desktop Entry]
Encoding=UTF-8
Name=Link to clean3d blue 015 icon
Type=Link
URL=http://www.iconarchive.com/show/clean-3d-icons-by-mysitemyway/clean3d-blue-015-icon.html
Icon=text-html
