[Desktop Entry]
Encoding=UTF-8
Name=Link to Misc Settings icon
Type=Link
URL=http://www.iconarchive.com/show/aeon-icons-by-kyo-tux/Misc-Settings-icon.html
Icon=text-html
