[Desktop Entry]
Encoding=UTF-8
Name=Link to Settings icon
Type=Link
URL=http://www.iconarchive.com/show/simple-icons-by-harwen/Settings-icon.html
Icon=text-html
